@import "tailwindcss";

@keyframes spin-slow {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
  display: flex;
}

@keyframes scan {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.animate-scan {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, transparent, #3b82f6, transparent);
  animation: scan 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
